header#principal{
    text-align: center;
    background-image: url('../img/fondo-background.jpg');
    background-size: cover;
}
h1 {
    
    background-color: blue;
    text-transform: uppercase;
    color: white;
}
#acerca-de-mi{
    text-align: center;
    font-size: 50px;
}
.red-social{
    text-align: center;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: blue;
}
.rol{
    font-weight: bold;
}