<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de mi</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <Header>
        <H2>Perfil Profesional</H2>
        <p>Tengo 10 años de experiencia en áreas de mercadeo, Trade Marketing y comercial, en sectores de consumo masivo, tecnología y consultoría. También cuento con experiencia en agencias de Outsourcing manejando clientes paretos y liderando equipos comerciales.
        </p>
    </Header>
    <Main>
        <h2>Experiencia Laboral</h2>
        <section>
            <p class="rol">KAM Go To Market (Eficacia)  Septiembre 2019 – Actualmente. (Huawei)</p>
    <p> Gerenciar la cuenta a nivel nacional implementando estrategias comerciales y de mercadeo para garantizar el cumplimiento de los objetivos mensuales. Gestionar la satisfacción del cliente por medio del cumplimiento de los ANS y de las solicitudes adicionales que requiera. Garantizar la excelente ejecución en punto de venta, incluyendo el cubrimiento al 100% del Head Count, capacitación del equipo comercial, protocolo de venta, implementación de POP y demás fundamentales establecidos.
    </p>
        </section>
        <section>
            <p class="rol">Director de Cuenta (Acciones y Servicios SAS)  Junio 2016 – Septiembre 2019. (Samsung / Honor / Distraves)
            </p>
            <p>Gestionar la relación comercial con el cliente, realizando propuestas de valor. Desarrollar e implementar estrategias comerciales. Fortalecer la relación con el cliente.  Garantizar el cumplimiento del presupuesto y de los ANS. Administrar y desarrollar equipos comerciales de alto rendimiento que logren los objetivos del cliente. Generar leads con el fin de participar en licitaciones que puedan traer nuevos clientes a la empresa.
            </p>
        </section>
    </Main>
    <footer>
        <a href="https://github.com/Alej087" img class="red-social" src="img/Logo-github.png" alt="logo github" height="50px"><img class="red-social" src="../img/Logo-github.png" alt="logo github" height="50px"></a>
        <a href="https://www.instagram.com/avi_andro/"> <img class="red-social" src="../img/Instragram.png" alt="logo instragram" height="50px"></a>
    </footer>
</body>
</html>